.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.board-container {
  width: 100%;
  height: calc(100vh - 62.4px);
}

.board-card {
  width: 300px;
  height: auto;
}

.thread-form {
  z-index: 1;
}

.replies-container {
  border-top: solid #ececec 1px;
  padding: 1.5rem;
  z-index: 1;
}

.board-header {
  background-color: #f7f7f7;
}

.reply-container {
  background-color: #F2F3F5;
  padding: .5rem;
  border-radius: 5px;
}

.reply-container:last-of-type {
  margin-bottom: 0 !important;
}

.reply-form-container {
  border: solid #ececec 1px;
  z-index: 1;
}

.threads-table {
  border: solid #ececec 1px;
}

.fade-load {
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.loader {
  position: 'absolute';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  opacity: 1;
  z-index: 99;
}

.hide {
  display: none !important;
}

.home-fade {
  width: calc(100% - 30px);
  height: calc(100vh - 62.4px);
}

.home-loader {
  height: calc(100vh - 62.4px);
}